table{
    border-collapse: collapse;
}
td, th{
    padding: 5px;
}
td{
    border: 1px solid;
}

tr:nth-child(even){
    background-color: orange;
}

tr:nth-child(odd){
    background-color: blue;
}
